*{
    padding:0;
    margin:0;
    box-sizing: border-box
}
body{
    height:100vh;
    display:flex;
    background-color: aquamarine;
   
}
.memory-game{
    width:640px;
    height:640px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    border:2px solid black;
    perspective: 1000px;
}
.memory-card{
    width: 23.4%;
    height:32%;
    margin:5px;
    position:relative;
    transform-style: preserve-3d;
    transition: transform .5s;
    
}
.memory-card:hover{
   transform:scale(.97);
   transition:transform .2s;
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-face,.back-face{
    width:100%;
    height:100%;
    padding:20px;
    position:absolute;
    border-radius: 5px;
    background: rgb(230, 65, 36);
    border:1px solid coral;
    backface-visibility:hidden;
   
}
.front-face{
transform: rotateY(180deg);
}
#button{
    width: 80px;
    height: 50px;
    background-color: black;
    color: white;
    radius:10px;
}
